body {
    background-color: #232323;
    margin: 0;

}

.squares {
    width: 30%;
    background: green;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    /* border-radius: 50% */
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    color: white;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding-top: 20px 0;
}